.footer{
    border: 2px solid rgb(138, 43, 226);
    padding: 2px;
    background-color: rgb(215, 99, 132);
    margin: 20px;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;

}

p {
    text-align: center;
}